{% extends 'base.html' %}

{% block body %}
<head>
  <link rel= "stylesheet" type= "text/css" href= "../static/style.css">
</head>
<!-- create farm -->
<img src="" id="bgimg">

<form  class="container border border-dark rounded my-5 p-5" method="post" action="{{ url_for('farm')  }}" style="background-color: rgba(255, 255, 255, 0.8);">
  <h1 id="heading" class="text-center">Farm</h1>
  <div class="mb-3 mt-3">
    <label for="ip" class="form-label"><strong>Select video source:</strong></label>
    <div class="form-control" style="border: none; padding: 0;">
      <div class="form-check">
        <input type="radio" id="webcam" name="ip" value="0" class="form-check-input">
        <label for="webcam" class="form-check-label">Webcam</label>
      </div>
      <div class="form-check">
        <input type="radio" id="localFile" name="ip" value="1" class="form-check-input">
        <label for="localFile" class="form-check-label">Local File</label>
      </div>
    </div>
  </div>
  <label id="number" for="totalCount" style="font-weight: bold;">Total Number of Animals in Farm:</label>
  <input type="number" class="form-control" id="totalCount" name="totalCount" min="0" > <br>
  <button type="submit" class="btn btn-dark" value="submit" id="btn1">Start</button>
  <button type="button" class="btn btn-dark" id="btn3" onclick="hidefeed()">Hide Video</button>
  <button type="button" class="btn btn-dark" id="btn2" onclick="stopfeed()">End</button>
</form>

<!-- real-time data display -->

<div class="container border border-dark rounded my-5 p-5 text-center" id="todocont" style="background-color: rgba(255, 255, 255, 0.8);">

  <!-- real-time animal-counting -->

  <h1 class="mt-5" style="padding-bottom: 0;">Data</h1>



  <table class="table table-hover">
    <thead>
      <tr>
        <th>Video Source</th>
        <th>Farm</th>
        <!-- <th>Animal type</th> -->
        <th>In Farm</th>
        <th id="animal">Number Of Animals in Farm</th>
        <th>Threat detected</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ ip_address }}</td>
        <td id="farm">None Selected</td>
        <!-- <td id="type">none</td> -->
        <td id="detections">None</td>
        <td id="count">0</td>
        <td id="threat">None</td>
      </tr>
    </tbody>
  </table>
  <div id="errorMessage" style="display: none; color: rgb(255, 0, 0);padding: 20px 5px; margin-top: 10px;">
    The count has been reduced. Please check the farm!
  </div>
  <div id="threatMessage" style="display: none; color: rgb(255, 0, 0);padding: 20px 5px; margin-top: 10px;">
    A THREAT HAS ENTERED YOUR FARM. PLEASE CHECK YOUR FARM!
  </div>
  <!-- real-time video-feed -->

  <h1 class="mt-5">{{ var2 }}</h1>

  {% if ip_address %}
  <!-- <img class="mt-3 rounded" src="{{ url_for('video_feed')}}" id="videoFeed" alt="cctvfotage" width="50%"> -->
  <img class="mt-3 rounded" src="{{ url_for('video_feed', ip=ip_address)}}" id="videoFeed" alt="cctvfotage" width="50%">
  {% endif %}

</div>

<script>
  // Farm value from index.html
  window.onload = function() {
      // Retrieve selected farm from local storage
      const selectedFarm = localStorage.getItem('selectedFarm');

      // Update the table cell
      if (selectedFarm) {
        document.getElementById('farm').textContent = selectedFarm;

      // Update the table heading
      const tableHeading = document.getElementById('animal');
      const Heading = document.getElementById('heading');
      const number = document.getElementById('number');
      const bgimg = document.getElementById('bgimg');

      if (tableHeading && selectedFarm !== "-") { 
        tableHeading.textContent = `Number Of ${selectedFarm}'s in Farm`;
        Heading.textContent = `${selectedFarm} Farm`;
        number.textContent = `Total Number of ${selectedFarm}'s in Farm`;
        bgimg.src = `static/images/${selectedFarm.toLowerCase()}-background.jpg`;
      }
      
      // Retrieve the total count from local storage
      const storedValue = localStorage.getItem('totalCount');
      if (storedValue) {
          totalCount.value = storedValue;
      }

      }
    };

  // Showing or Hiding video-feed

  function hidefeed() {
    var live_feed = document.getElementById('videoFeed')
    var btn3 = document.getElementById('btn3')

    if (live_feed.style.display == "none") {
      live_feed.style.display = "block";
      live_feed.style.marginLeft = "auto";
      live_feed.style.marginRight = "auto"
      btn3.innerHTML = "Hide Video"
    }
    else {
      live_feed.style.display = "none";
      btn3.innerHTML = "Show Video"
    }
  }

  // to stoplive feed / kill the opencv process

  function stopfeed() {

    fetch('/stop_feed')
      .then(response => {
        if (response.ok) {
          console.log('feed stopped!')
        }
        else {
          console.log('error stopping feed!')
        }
      })
      .catch(error => {
        console.log('Error stopping feed: ', error)
      })

  }

// ajax requesting for lve count
var ip_address = "{{ ip_address }}"; // Ensure this gets the value from Flask

// Store the total count in localStorage when start button is clicked
document.getElementById('btn1').addEventListener('click', function() {
  const totalCountInput = document.getElementById('totalCount');
  const storedValue = totalCountInput.value; 

  // store value in localStorage:
   localStorage.setItem('totalCount', storedValue);
   console.log(storedValue)
});

var isCountReducedTimerActive = false;
var countReductionTimeout;

// starts only when the video is on
if (ip_address == "0" || ip_address == "1") {
  function updatecount() {
// Only then, send AJAX requests to update count, type, and threat
      // update count
      var xhttpCount = new XMLHttpRequest();
      xhttpCount.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('count').innerHTML = this.responseText;
        }
        const totalCountInput = document.getElementById('totalCount');
        const storedValue = totalCountInput.value;

        if(this.responseText < storedValue){
          if (!isCountReducedTimerActive) {
            isCountReducedTimerActive = true;
            // Start a timer of 5 seconds before logging and showing the error message
            countReductionTimeout = setTimeout(function() {
              console.log("count reduced");
              document.getElementById('errorMessage').style.display = "block"; // Show the error message
              isCountReducedTimerActive = false;
            }, 5000);
          }
        } else {
          // If current count is not less than storedValue, reset the timer and hide the error message
          if (isCountReducedTimerActive) {
            clearTimeout(countReductionTimeout);
            document.getElementById('errorMessage').style.display = "none"; // Hide the error message
            isCountReducedTimerActive = false;
          } else if (this.responseText == storedValue) {
            // If the current count is exactly equal to the stored value, ensure the error message is hidden
            document.getElementById('errorMessage').style.display = "none";
          }
        }
      };
      xhttpCount.open('GET', '/count', true);
      xhttpCount.send();
      console.log("Count updated");

      // update type
      var xhttpDetections = new XMLHttpRequest();
      xhttpDetections.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('detections').innerHTML = this.responseText;
        }
      };
      xhttpDetections.open('GET', '/detections', true);
      xhttpDetections.send();
      console.log("Detections updated");

      // update threat
      var xhttpThreat = new XMLHttpRequest();
      xhttpThreat.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          // document.getElementById('threat').innerHTML = this.responseText;
          const threatclass = this.responseText;
          console.log("latest: ", this.responseText);
          if(threatclass !== "None"){
            document.getElementById('threatMessage').style.display = "block"; // Show the error message
            document.getElementById('threat').innerHTML = this.responseText;
          }
          else{
            document.getElementById('threatMessage').style.display = "none"; // Show the error message
            document.getElementById('threat').innerHTML = "none";
          }
        }
      };
      xhttpThreat.open('GET', '/threat', true);
      xhttpThreat.send();
      console.log("Threat updated");
      
    
      // Update the video feed source with the IP address

      var videoFeed = document.getElementById('videoFeed');
      if (videoFeed) {
        videoFeed.src = "{{ url_for('video_feed', ip=ip_address)}}";
      }
  }
      } else {
  // If the video is off, you might want to reset or handle the display of count, type, and threat differently
    console.log("Video is off. No updates to count, type, or threat.");
    }

    // Call updatecount every 500 milliseconds (0.5 seconds)
setInterval(updatecount, 500);
</script>

{% endblock body %}