{% extends 'base.html' %}

{% block body %}

<!-- heading -->

<div class="container border border-info rounded mt-5 text-center">
  <i class="fa-solid fa-camera-cctv"></i>
  <h1 class="display-3 my-3"><b>Animal Monitoring and Threat Detection System</b></h1>
  <form id="farmForm">
    <label for="farm">Select a farm:</label>
    <select name="farm" id="farmSelect">
      <option>-</option>
      <option value="Cow">Cow</option>
      <option value="Sheep">Sheep</option>
      <option value="Pig">Pig</option>
    </select>
    <br><br>
    <a href="/farm" class="btn btn-outline-dark btn-lg my-5" id="getStartedButton">Get Started!</a>
  </form>
</div>

<script>
  const form = document.getElementById('farmForm');
  const getStartedButton = document.getElementById('getStartedButton');

  getStartedButton.addEventListener('click', function(event) {
    event.preventDefault();

    const selectedFarm = document.getElementById('farmSelect').value;

    // Store selected farm in local storage
    localStorage.setItem('selectedFarm', selectedFarm);

    // Redirect to farm.html 
    window.location.href = "/farm"; 
  });
</script>

{% endblock body %}